---
---

<html lang="en">
    <head>
        <title>Astro is awesome!</title>
        <meta
            name="description"
            content="Pull content from anywhere and serve it fast with Astro's next-gen island architecture."
        />
    </head>
    <body>
        <h1>Hello world from Astro</h1>
    </body>
</html>
